extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h2.w3-left Aluno
    
      if Student != null
        form(method="PUT" action="students/:id")
          .w3-container.w3-teal
            h2 Actualizar Aluno

                table
                  tr
                    td 
                      label Numero
                    td 
                      input(type="text" name="numero" value="${Student.numero}")
                  tr
                    td
                      label Nome
                    td
                      input(type="text" name="nome" value="${Student.nome}")
                  tr
                    td
                      label git
                    td
                      input(type="text" name="git" value="${Student.git}")
                  tr
                    td
                      label TPCs
                    td
                      input(type="text" name="tpc" value="${Student.git}")
                  tr
                    td   
                      input(type="submit" value="Registar")
    
      else
        .w3-container
          p There are no students...
      
                    
    footer.w3-container.w3-teal
        address Gerado por dawApp :: 2020-Nov, cs

  
