extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Students List (DAW2020)
      if list.length > 0
        .w3-container 
          table.w3-table-all
            tr 
              th Number
              th Name
              th Git
            each s in list
              tr
                td
                    a(href='http://localhost:7700/' + s.numero)=s.numero
                td= s.nome
                td
                    a(href=s.git)=s.git
            
      else
        .w3-container
          p There are no students...
      

      form(method="POST" action="/students")
        .w3-container.w3-teal
            h2 Inserir Novo Aluno

                table
                  tr

                    td 
                      label Numero
                    td 
                      input(type="text" name="numero" required)
                  tr
                    td
                      label Nome
                    td
                      input(type="text" name="nome" required)
                  tr
                    td
                      label git
                    td
                      input(type="url" name="git" placeholder="https://github.com/nome/DAW2020")
                  tr
                    td
                      label TPCs
                    td
                      input(type="text" name="tpc" placeholder="1,1,0,1,0,1,1,0" required)
                  tr
                    td   
                      input(type="submit" value="Inserir Aluno")
                    td
                      input(type="reset" value="Limpar valores")
      footer.w3-container.w3-teal
        address Gerado por dawApp :: 2020-Nov, jcr

  
